
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
.medicamento {
    margin: 20px 10px;
    padding: 20px 30px;
    border-radius: 30px;
    background-color: var(--color-green2);
    font-size: 14px;
    font-family: 'League Spartan', sans-serif;

}
.medicamento h3 {
    margin: 0 0 5px;
    font-size: 18px;
    color: var(--color-text1);
}

.medicamento p {
    margin: 5px 0;
    color: var(--color-text3);
}

.proxima-toma {
    background-color: #ffffff;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
    margin: 10px 0;
    font-size: 14px;
    color: var(--color-text3);
    display: flex;
    justify-content: space-between;
}

.proxima-toma span {
    margin-left: auto;
    margin-right: auto;
}

button {
    width: 100%;
    background-color: var(--color-green1);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 6px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'League Spartan';

}

button:hover {
    background-color: #3c6c5a;
}



.back-arrow {
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
}